* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.cont {
  max-width: 1200px;
  margin: auto;
}

.clear {
  clear: both;
}

:root {
  --color--1: #134074;
  --color--2: #13315c;
  --color--3: #0b2545;
  --color--4: #8da9c4;
  --color--5: #eef4ed;
}

#logo {
  color: #eef4ed;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px;
}

.menu_pc {
  width: 100%;
  background-color: var(--color--1);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 20px 1px 20px rgba(0, 0, 0, 0.507);
}

.li_padrao {
  float: left;
  margin: 10px;
}

.menu_cell {
  position: absolute;
  left: 0px;
  /*top:0px;*/
  width: 130px;
  height: 100%;
  background-color: var(--color--1);
  transition: all 0.5s ease;
  line-height: 50px;
  display: none;
  z-index: 999;
}

#img_menu {
  transition: 0.4s;
}

.open {
  display: block;
}

.btn_open {
  display: none;
  border: none;
  cursor: pointer;
  margin: 15px;
  padding: 5px;
  background-color: transparent;
}

.btn_open > img {
  display: block;
  width: 20px;
}

.a_cell {
  color: #eef4ed;
  display: block;
  background-color: transparent;
  line-height: 45px;
  width: 100%;
  height: 100%;
  margin: auto;
  font-size: 18px;
  transition: 0.4s;
  padding-left: 15px;
  box-sizing: border-box;
}

.a_cell:hover {
  color: #eef4ed;
  display: block;
  background-color: #005d88;
  line-height: 45px;
  width: 100%;
  height: 100%;
  margin: auto;
  font-size: 18px;
  transition: 0.4s;
  padding-left: 20px;
  box-sizing: border-box;
}

.a_padrao {
  padding: 10px 15px 10px 15px;
  border-radius: 40px;
  text-align: center;
  color: #eef4ed;
  transition: 0.4s ease-in-out;
}

.a_padrao:hover {
  background-color: var(--color--5);
  color: var(--color--3);
}

/* header */

section.exerRapidos .cont {
  max-width: 1500px;
}

.exerRapidos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.search-quiz {
  width: 90%;
  padding: 10px;
  text-align: center;
  position: relative;
  margin: 2em auto;
}

.search-quiz input {
  width: 100%;
  padding: 1.5em;
  border-radius: 25px;
  border: 0px;
  outline: none;
  background-color: var(--color--4);
}

.search-quiz i {
  width: 60px;
  padding: 1.25em;
  border-radius: 0px 40px 40px 0px;
  background-color: var(--color--5);
  position: absolute;
  right: 0px;
  bottom: 10px;
}

.quiz-wraper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.quiz-exer {
  width: 32%;
  margin-bottom: 15px;
  padding: 10px;
  background-color: var(--color--3);
  border-radius: 15px;
}

.tittle-quiz {  
  padding: 10px;
  color: white;
}

.tittle-quiz h1 {
  width: 100%;
}

.description-quiz {
  width: 95%;
  border-radius: 10px;
  padding: 5px;
  margin: auto;
  background-color: white;
}

/* main */

@media screen and (max-width: 800px) {
  .ul_principal {
    display: none;
  }

  .btn_open {
    display: block;
  }

  .menu_pc {
    justify-content: center;
  }

  /* header */

  .quiz-exer {
    width: 45%;
    margin: 0.5em;
  }  

  /* main */
}

@media screen and (max-width: 480px) {
  .menu_cell {
    position: absolute;
    left: 0px;

    width: 100px;
    height: 90%;
    background: rgb(11, 37, 69);
    background: linear-gradient(
      180deg,
      rgba(11, 37, 69, 1) 0%,
      rgba(27, 70, 159, 1) 36%,
      rgba(0, 174, 255, 1) 100%
    );
    transition: all 0.5s ease;
    line-height: 50px;
  }

  .a_cell {
    color: #eef4ed;
    display: block;
    background-color: transparent;
    line-height: 45px;
    width: 100%;
    height: 100%;
    margin: auto;
    font-size: 12px;
    transition: 0.4s;
    padding-left: 12px;
    box-sizing: border-box;
  }

  .a_cell:hover {
    color: #eef4ed;
    display: block;
    background-color: #1186bc;
    line-height: 45px;
    width: 100%;
    height: 100%;
    margin: auto;
    font-size: 14px;
    transition: 0.4s;
    padding-left: 15px;
    box-sizing: border-box;
  }

  /* header */

  .quiz-exer {
    width: 90%;
    margin: 1em auto;
  }  

  /* main */
  
}

@media screen and (max-width: 353px) {
  .ul_principal {
    display: none;
  }

  .btn_open {
    display: block;
  }

  #logo {
    font-size: 13px;
  }
}
