* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --color--1: #134074;
  --color--2: #13315c;
  --color--3: #0b2545;
  --color--4: #8da9c4;
  --color--5: #eef4ed;
}

.cont {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

.clear {
  clear: both;
}

header {
  width: 100%;
  padding: 10px;
  background-color: var(--color--1);
}

.list-mobile {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0;
  top: 0;
}

.list-mobile i {
  z-index: 1;
  transition: 1s;
  padding: 10px;
  display: none;
  float: right;
  position: relative;
  text-align: center;
  top: -2px;
  right: 20px;
  font-size: 30px;
}

.logo {
  color: white;
  float: left;
}

.logo img {
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo h1 {
  display: inline-block;
}

nav.desktop {
  float: right;
}

nav.desktop ul {
  list-style-type: none;
}

nav.desktop ul li {
  float: left;
  margin: 0.5em;
  transition: 0.5s;
  outline: none;
  border: 0;
  font-size: 20px;
}

nav.desktop ul li a {
  color: white;
  text-decoration: none;
}

nav.desktop ul li a:hover {
  border-bottom: 2px solid black;
}

nav.mobile {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  z-index: 999;
  background-color: var(--color--1);
}

nav.mobile ul {
  list-style-type: none;
}

nav.mobile ul li {
  padding: 5px 20px;
  font-size: 20px;
}

nav.mobile ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

nav.mobile ul li a:hover {
  border-bottom: 2px solid black;
}

/* header */

section.exerRapidos .cont {
  max-width: 1500px;
}

.exerRapidos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.search-quiz {
  width: 90%;
  padding: 10px;
  text-align: center;
  position: relative;
  margin: 2em auto;
}

.search-quiz input {
  width: 100%;
  padding: 1.5em;
  border-radius: 25px;
  border: 0px;
  outline: none;
  background-color: var(--color--4);
}

.search-quiz i {
  width: 60px;
  padding: 1.25em;
  border-radius: 0px 40px 40px 0px;
  background-color: var(--color--5);
  position: absolute;
  right: 0px;
  bottom: 10px;
}

.quiz-wraper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.quiz-exer {
  width: 32%;
  margin-bottom: 15px;
  padding: 10px;
  background-color: var(--color--3);
  border-radius: 15px;
}

.tittle-quiz {
  padding: 10px;
  color: white;
}

.tittle-quiz h1 {
  width: 100%;
}

.description-quiz {
  width: 95%;
  border-radius: 10px;
  padding: 5px;
  margin: auto;
  background-color: white;
}

/* main */

@media screen and (max-width: 800px) {
  .logo {
    float: none;
    text-align: center;
  }

  nav.desktop {
    display: none;
  }

  .list-mobile i {
    display: block;
    display: inline-block;
  }

  /* header */

  .quiz-exer {
    width: 45%;
    margin: 0.5em;
  }

  /* main */
}

@media screen and (max-width: 480px) {
  nav.mobile {
    width: 100%;
    padding: 10px;
    height: 200px;
    top: 58px;
  }

  /* header */

  .quiz-exer {
    width: 90%;
    margin: 1em auto;
  }

  /* main */
}