* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --color--1: #134074;
  --color--2: #13315C;
  --color--3: #0B2545;
  --color--4: #8DA9C4;
  --color--5: #EEF4ED;
}

.cont {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

.clear {
  clear: both;
}

header {
  width: 100%;
  padding: 10px;
  background-color: var(--color--1);
}

.list-mobile {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0;
  top: 0;
}

.list-mobile i {
  z-index: 1;
  transition: 1s;
  padding: 10px;
  display: none;
  float: right;
  position: relative;
  text-align: center;
  top: -2px;
  right: 20px;
  font-size: 30px;
}

.logo {
  color: white;
  float: left;
}

.logo img {
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo h1 {
  display: inline-block;
}

nav.desktop {
  float: right;
}

nav.desktop ul {
  list-style-type: none;
}

nav.desktop ul li {
  float: left;
  margin: 0.5em;
  transition: 0.5s;
  outline: none;
  border: 0;
  font-size: 20px;
}

nav.desktop ul li a {
  color: white;
  text-decoration: none;
}

nav.desktop ul li a:hover {
  border-bottom: 2px solid black;
}

nav.mobile {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  z-index: 999;
  background-color: var(--color--1);
}

nav.mobile ul {
  list-style-type: none;
}

nav.mobile ul li {
  padding: 5px 20px;
  font-size: 20px;
}

nav.mobile ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

nav.mobile ul li a:hover {
  border-bottom: 2px solid black;
}

/* header */

.headerMain {
  width: 70%;
  display: flex;
  justify-items: first baseline;
  align-items: flex-end;
}

.hello-user {
  width: 50%;
  margin-top: 4em;
  margin-left: 2em;
  display: flex;
}

#helloName h1 {
  padding-top: 0.2em;
  padding-right: 20px;
  display: inline-block;
}

.photo-user {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.photo-user img {
  width: 100%;
  height: 100%;
}

.pesquisa {
  text-align: right;
  width: 45%;
  position: relative;
}

.pesquisa i {
  position: absolute;
  z-index: 998;
  top: 7px;
  padding-left: 6px;
}

.pesquisa input {
  z-index: 997;
  position: relative;
  right: 0;
  padding: 5px 5px 5px 30px;
  border-radius: 15px;
}

.materies {
  max-width: 1300px;
  margin: 50px auto;
}

.materies-wraper {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.materias-single {
  width: 21%;
  height: auto;
  padding: 20px;
  background-color: var(--color--1);
  margin: 1.3em 5px;
  border-radius: 30px;
  box-shadow: 4px 10px 10px 1px rgba(0, 0, 0, 0.829);
}

.materias-single a {
  color: white;
}

footer {
  width: 100%;
  background-color: var(--color--1);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
}

.logo-footer {
  width: 30%;
  padding-top: 20px;
}

.logo-img-footer {
  width: 100%;
}

.logo-footer p {
  padding-top: 20px;
  line-height: 25px;
}

.footer-singleExe {
  width: 35%;
  height: auto;
  padding-top: 20px;
}

.footer-singleExe h1 {
  padding-left: 20px;
}

.footer-singleExe nav {
  display: flex;
  padding-left: 20px;
}

.footer-singleExe ul.math-footer {
  width: 50%;
  padding-top: 20px;
}

.footer-singleExe ul.portu-footer {
  width: 50%;
  padding-top: 20px;
  padding-left: 10px;
}

.footer-singleExe ul li {
  padding: 0.4em 0px;
}

.footer-singleExe ul li a {
  color: white;
}
.footer-singleExe ul li a:hover {
  border-bottom: 1px solid black;
}

.footer-maps {
  width: 30%;
  padding: 10px;
}

.footer-maps h1 {
  font-weight: 700;
  font-size: 30px;
}

.footer-maps .mapa iframe {
  width: 100%;
}

.footer-social {
  margin-top: 10px;
  border-top: 5px solid black;
  width: 100%;
  padding: 0.5em;
  text-align: center;
  color: white;
}

.footer-social i {
  text-align: center;
  padding-top: 0.5em;
  margin-left: 0.5em;
  cursor: pointer;
}

/* footer */

@media screen and (max-width: 800px) {
  .logo {
    float: none;
    text-align: center;
  }

  nav.desktop {
    display: none;
  }

  .list-mobile i {
    display: block;
    display: inline-block;
  }

  /* header */

  .headerMain {
    width: 100%;
  }

  .hello-user {
    width: 100%;
    margin-top: 4em;
    margin-left: 2em;
    display: flex;
  }

  .materies {
    max-width: 1300px;
    margin: 50px auto;
  }

  .materies-wraper {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }

  .materias-single {
    width: 25%;
    height: auto;
    padding: 20px;
    background-color: var(--color--1);
    margin: 10px;
    border-radius: 30px;
    box-shadow: 4px 10px 10px 1px rgba(0, 0, 0, 0.829);
  }

  /* main */

  .logo-footer {
    width: 100%;
    padding-top: 20px;
    padding-left: 1em;
  }

  .footer-singleExe {
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 20px;
  }

  .footer-singleExe h1 {
    padding: 0px;
  }

  .footer-singleExe ul {
    text-align: center;
  }

  .footer-singleExe nav {
    padding: 0px;
  }

  .footer-maps {
    width: 95%;
    margin: auto;
  }
  /* footer */
}

@media screen and (max-width: 480px) {
  nav.mobile {
    width: 100%;
    padding: 10px;
    height: 200px;
    top: 58px;
  }

  /* header */

  .headerMain {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .hello-user {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
  }

  .pesquisa {
    width: 100%;
    text-align: center;
  }

  .pesquisa input {
    width: 70%;
  }

  /* main */
}

@media screen and (max-width: 353px) {

  .materies {
    max-width: 100%;
    margin: 50px auto;
  }

  .materies-wraper {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }

  .materias-single {
    width: 70%;
    height: 100px;
    padding: 30px 0px;
    background-color: var(--color--1);
    margin: 20px auto;
    border-radius: 30px;
    box-shadow: 4px 10px 10px 1px rgba(0, 0, 0, 0.829);
  }

  /* ma */
}
